
/* FONTS*/
@font-face{
    font-family: Bungee-Hairline;
    src: url(/fonts/Bungee/Bungee_Hairline/Bungee/Bungee_Hairline/BungeeHairline-Regular.ttf)
}
@font-face{
    font-family: Bungee-Regular;
    src: url(/fonts/Bungee/Bungee_Hairline/Bungee/Bungee_Regular/Bungee-Regular.ttf);
}
@font-face{
    font-family: Bungee-Spice;
    src: url(/fonts/Bungee/Bungee_Hairline/Bungee/Bungee_Spice/BungeeSpice-Regular.ttf);
}

@font-face{
    font-family: fa-solid;
    src: url(/fonts/fa-solid-900.ttf);
}


/* LOGO FONT */
.main-layout .main-header .logo{
    font-family: Bungee-Regular;
}

/* HEADERS BUTTONS FONT */
.main-layout .main-header .header-btns li .headerBtn{
    font-family: Bungee-Spice;
}

.main-layout .main-content{
    font-family: Bungee-Hairline ;
    font-weight: bold;
}




/* ICONS MAIN EDITOR */
.main-editor .main-editor-content .text-decoration .text-align-center::before{
   font-family: fa-solid;
   content: "\f037";
}

.main-editor .main-editor-content .text-decoration .text-align-right::before{
    font-family: fa-solid;
    content: "\f038";
 }
 
 .main-editor .main-editor-content .text-decoration .text-align-left::before{
    font-family: fa-solid;
    content: "\f036";
 } 

.main-content .main-editor .main-editor-header .text-controller .addLineBtn::before{
    font-family: fa-solid;
    content: "\2b";
}

.main-content .main-editor .main-editor-header .text-controller .switchLineBtn::before{
    font-family: fa-solid;
    content: "\f07d";
}

.main-content .main-editor .main-editor-header .text-controller .deleteLineBtn::before{
    font-family: fa-solid;
    content: "\f2ed";
}

.main-content .main-editor .main-editor-content .text-bold::before{
    font-family: fa-solid;
    content: "\f032";
}


/* ARROWS FONTS */
.main-content .main-editor .main-editor-content .text-emojies .arrow-right::before{
    font-family: fa-solid;
    content: "\f061";
}

.main-content .main-editor .main-editor-content .text-emojies .arrow-left::before{
    font-family: fa-solid;
    content: "\f060";
}


/* EMOJOIES FONTS */
.main-editor .main-editor-content .text-emojies .emojies-ul li .emoji0::before{
    font-family: fa-solid;
    content: "\f5c8";
}

.main-editor .main-editor-content .text-emojies .emojies-ul li .emoji1::before{
    font-family: fa-solid;
    content: "\f5b3";
}

.main-editor .main-editor-content .text-emojies .emojies-ul li .emoji2::before{
    font-family: fa-solid;
    content: "\f59c";
}

.main-editor .main-editor-content .text-emojies .emojies-ul li .emoji3::before{
    font-family: fa-solid;
    content: "\f556";
}


/* SOLID EMOJIES FIRST 4*/
/* f5c8 */
/* f5b3 */
/* f59c */
/* f556 */

/* LIGHT EMOJIES  */
/* f5a5 */
/* f598 */
/* f579 */
/* f567 */

/* REUGLAR EMOJIOES LAST 4*/ 
