/* Main Header */
.main-header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        " logo buttons ";
}

.main-header .logo {
    grid-area: logo;
}
.main-header .header-btns .galleryBtn{
    grid-area: buttons;
}


