/* Main Header */
.main-header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        " logo buttons ";
        width: 100%;
}

.main-header .logo {
    grid-area: logo;
}
.main-header .header-btns .galleryBtn{
    grid-area: buttons;
}

.main-header .header-btns{
    display: flex;
    gap: 10px;
}


