/* Main Content */

.main-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        " g e ";
}

.main-content .gallery{
    grid-area: g;    
}

.main-content .main-editor{
    grid-area: editor;
}
